.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    background-color: rgb(43, 43, 43);
  }
  
  .dropdown-container {
    margin-bottom: 20px;
  }
  
  .clock-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .clock-display > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  