<div class="circle-clock">
    <!-- Aro de horas -->
    <div class="circle-container">
      <svg class="circle-svg">
        <circle class="circle hour-circle" cx="50" cy="50" r="45"></circle>
      </svg>
      <div class="circle-label">{{ hours }} h</div>
    </div>
  
    <!-- Aro de minutos -->
    <div class="circle-container">
      <svg class="circle-svg">
        <circle class="circle minute-circle" cx="50" cy="50" r="45"></circle>
      </svg>
      <div class="circle-label">{{ minutes }} m</div>
    </div>
  
    <!-- Aro de segundos -->
    <div class="circle-container">
      <svg class="circle-svg">
        <circle class="circle second-circle" cx="50" cy="50" r="45"></circle>
      </svg>
      <div class="circle-label">{{ seconds }} s</div>
    </div>
  </div>
  